/* Загальний стиль */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #333;
}

/* Заголовки */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #444;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

/* Setup блок */
#setup {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 0 auto 30px auto;
  text-align: left;
}

#setup h2 {
  text-align: center;
  margin-bottom: 15px;
}

#nickname {
  display: block;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin: 0 auto;
}

/* checkbox і слова */
#word-selection {
  margin-top: 15px;
}

#word-selection label {
  display: inline-flex;   
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 1rem;
  cursor: pointer;
}

#word-selection input[type="checkbox"] {
  margin: 30;
}

#startGameBtn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#randomGameBtn{
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#startGameBtn:hover {
  background: #45a049;
}

/* Ігрова частина */
.game-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.board-section {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.board-section h2 {
  margin-bottom: 15px;
  text-align: center;
}

/* Дошка */
.board {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(5, 120px);
  gap: 10px;
  justify-content: center;
}

.board div {
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 0.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px; 
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.2s, transform 0.15s, box-shadow 0.2s;
}

.board div:hover {
  background: #e0e0e0;
}


.cell.marked {
  background: #20da29;
  color: #fff;
  border-color: #2aa012;
  box-shadow: 0 0 10px rgba(8, 80, 32, 0.74);
  transform: scale(1.05);
}

/* Статус */
#status {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

#checkbox-counter {
  position: absolute;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none; /* щоб не заважав клікам */
  z-index: 9999;
}